aclocal.m4
autom4te.cache/
config.guess
config.sub
configure
install-sh
ltmain.sh
config.h.in
missing
Makefile
Makefile.in
config.h
config.log
config.status
libtool
src/Makefile
src/Makefile.in
stamp-h1
tests/Makefile
tests/Makefile.in
*.o
*.la
*.lo
